## PyCity School Analysis

In [1]:
#Set up:
import pandas as pd
from pathlib import Path
#import numpy as np
#import matplotlib.pyplot as plt

In [2]:
#Files to import in:
student_data_to_import = Path('C:\\Users\\hanna\\OneDrive\\Desktop\\Pandas_Starter_Code\\PyCitySchools\\Resources\\students_complete.csv')
school_data_to_import = Path('C:\\Users\\hanna\\OneDrive\\Desktop\\Pandas_Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv')

In [3]:
#Store files as DataFrames in Pandas: *Student Data and *School Data
student_data = pd.read_csv(student_data_to_import)
school_data = pd.read_csv(school_data_to_import)

In [4]:
#Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
#DISCT Total number of (unique) schools:
total_schools = len(school_data_complete.school_name.unique())
total_schools

15

In [6]:
#DISCT Total number of students:
total_students = school_data_complete.student_name.count()
total_students

39170

In [7]:
#DISCT Total budget:
total_budget = total_budget = sum(school_data_complete.budget.unique()) 
total_budget

24649428

In [8]:
#DISCT Average math score:
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [9]:
#DISCT Average reading score:
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [10]:
#DISCT Percent of passing math (the percentage of students who passed math with scores greater than or equal to 70):
passing_math_count = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students
passing_math_count = passing_math_count / float(total_students) * 100
passing_math_count

0.0019142418354196528

In [11]:
#DISCT Percent of passing math (the percentage of students who passed reading with scores greater than or equal to 70):
passing_reading_count = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students
passing_reading_count = passing_reading_count / float(total_students) * 100
passing_reading_count

0.002190591354731172

In [12]:
#DISCT Percent passing reading (the percentage of students who passed reading with scores greater than or equal to 70):
passing_reading_pct = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students
#passing_reading_count= passing_reading_count / float(total_students) * 100
passing_reading_count

0.002190591354731172

In [13]:
#DISCT Overall passing rate:
overall_passing_rate = (passing_math_count + passing_reading_count)/2
overall_passing_rate

0.002052416595075412

In [14]:
#Combine data into a single dataset:Total number of unique schools, Total students, Total budget, Average math score, Average reading score, % passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading), % overall passing (the percentage of students who passed math AND reading)
#Store all calculations into dataframe
district_summary= pd.DataFrame(
    [
        {
                                 "Total Schools": total_schools,
                                 "Total Students":total_students,
                                 "Total Budget":total_budget,
                                 "Average Math Score":average_math_score,
                                 "Average Reading Score":average_reading_score,                        
                                 "% Passing Math":passing_math_pct*100,
                                 "% Passing Reading":passing_reading_pct*100,
                                 "% Overall Passing Rate":overall_passing_rate*100
        }
    ]
)

NameError: name 'passing_math_pct' is not defined

In [ ]:
#Reformat Total Students and Total Budget
district_summary['Total Students'] = district_summary.apply(lambda x: "{:,.0f}".format(x['Total Students']), axis=1)
district_summary['Total Budget'] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)

# Print Summary Dataframe
district_summary

:

## School Summary

In [ ]:
#School count types
school_types = school_data.sort_values(by="school_name").type
school_types

:

In [ ]:
#Student count per school
school_total_students = list(school_summary.student_name.count())
school_total_students

#Calculate student count per school
per_school_counts = (school_summary.student_name.count())
per_school_counts

:

In [ ]:
school_summary = (school_data_complete.groupby(['school_name']))
school_names = school_data_complete.school_name.sort_values().unique()
school_types = school_data.sort_values(by="school_name").type

:

In [ ]:
#Calculate the total school budget and per capita spending per school
school_budget = list(school_summary.budget.mean())
school_budget

per_school_capita = [i/j for i,j in zip(school_budget,school_total_students)]
per_school_capita

:

In [ ]:
#Calculate the average test scores per school
per_school_math = list(school_summary.math_score.mean())
per_school_math

per_school_reading = list(school_summary.reading_score.mean())
per_school_reading

:

In [ ]:
#Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
students_passing_math

school_students_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
school_students_passing_math

:

In [ ]:
#Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
students_passing_reading

school_students_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]
school_students_passing_reading

:

In [ ]:
#Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

:

In [ ]:
#Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_math

per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
per_school_passing_reading

overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

:

In [ ]:
#Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    [
        {
                                   "School Type": school_types,
                                   "Total Students": school_total_students,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing Rate": overall_passing_rate
        }
    ]
)

:

In [ ]:
#Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

#Display the DataFrame
per_school_summary

:

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
#Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)
top_schools.head(5)

:

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
#Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_schools.head(5)

:

## Mathscores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

:

In [ ]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"] 
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

:

In [ ]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_scores, "10th": tenth_grade_scores,
                                     "11th": eleventh_grade_scores, "12th": twelfth_grade_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

: