In [1]:
#Set up:
import pandas as pd
from pathlib import Path

In [4]:
#Files to import in:
student_data_to_import = Path('C:\\Users\\hanna\\OneDrive\\Desktop\\Pandas_Starter_Code\\PyCitySchools\\Resources\\students_complete.csv')
school_data_to_import = Path('C:\\Users\\hanna\\OneDrive\\Desktop\\Pandas_Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv')

In [11]:
#Store files as DataFrames in Pandas: *Student Data and *School Data
student_data = pd.read_csv(student_data_to_import)
school_data = pd.read_csv(school_data_to_import)

In [12]:
#Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

Disctrict Summary

In [13]:
#DISCT Total number of (unique) schools:
total_schools = len(school_data_complete.school_name.unique())
total_schools

15

In [14]:
#DISCT Total number of students:
total_students = school_data_complete.student_name.count()
total_students

39170

In [15]:
#DISCT Total budget:
total_budget = total_budget = sum(school_data_complete.budget.unique()) 
total_budget

24649428

In [16]:
#DISCT Average math score:
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [17]:
#DISCT Average reading score:
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [37]:
#DISCT Percent of passing math (the percentage of students who passed math with scores greater than or equal to 70):
passing_math_count = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students
passing_math_count = passing_math_count / float(total_students) * 100
passing_math_count

0.0019142418354196528

In [38]:
#DISCT Percent of passing math (the percentage of students who passed reading with scores greater than or equal to 70):
passing_reading_count = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students
passing_reading_count = passing_reading_count / float(total_students) * 100
passing_reading_count

0.002190591354731172

In [40]:
#DISCT Overall passing rate:
overall_passing_rate = (passing_math_count + passing_reading_count)/2
overall_passing_rate

0.002052416595075412

In [41]:
#Combine data into a single dataset:Total number of unique schools, Total students, Total budget, Average math score, Average reading score, % passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading), % overall passing (the percentage of students who passed math AND reading)
#Store all calculations into dataframe
district_summary_df= pd.DataFrame(
    [
        {
                                 "Total Schools": total_schools,
                                 "Total Students":total_students,
                                 "Total Budget":total_budget,
                                 "Average Math Score":average_math_score,
                                 "Average Reading Score":average_reading_score,                        
                                 "% Passing Math":passing_math_pct*100,
                                 "% Passing Reading":passing_reading_pct*100,
                                 "% Overall Passing Rate":overall_passing_rate*100
        }
    ]
)

In [44]:
# Reformat Total Students and Total Budget
district_summary['Total Students'] = district_summary.apply(lambda x: "{:,.0f}".format(x['Total Students']), axis=1)
district_summary['Total Budget'] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)

# Print Summary Dataframe
district_summary

NameError: name 'district_summary' is not defined

In [43]:
#Print Summary Dataframe
district_summary

NameError: name 'district_summary' is not defined

School Summary

In [ ]:
#School count types
school_types = school_data.sort_values(by="school_name").type
school_types

In [ ]:
#Student count per school
school_total_students = list(school_summary.student_name.count())
school_total_students

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]